<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogonServlet</servlet-name>
        <servlet-class>servlets.LogonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>servlets.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoToCreateAccountServlet</servlet-name>
        <servlet-class>servlets.GoToCreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberUpdateServlet</servlet-name>
        <servlet-class>servlets.MemberUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToTheSplashScreenServlet</servlet-name>
        <servlet-class>servlets.ToTheSplashScreenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SplashScreenServlet</servlet-name>
        <servlet-class>servlets.SplashScreenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetLocValsToFalseServlet</servlet-name>
        <servlet-class>servlets.SetLocValsToFalseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackToHealthLogonPageServlet</servlet-name>
        <servlet-class>servlets.BackToHealthLogonPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnlockedServlet</servlet-name>
        <servlet-class>servlets.UnlockedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogonServlet</servlet-name>
        <url-pattern>/Logon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoToCreateAccountServlet</servlet-name>
        <url-pattern>/GoToCreateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberUpdateServlet</servlet-name>
        <url-pattern>/MemberUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToTheSplashScreenServlet</servlet-name>
        <url-pattern>/ToTheSplashScreen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SplashScreenServlet</servlet-name>
        <url-pattern>/SplashScreen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetLocValsToFalseServlet</servlet-name>
        <url-pattern>/SetLocValsToFalse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackToHealthLogonPageServlet</servlet-name>
        <url-pattern>/BackToHealthLogonPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnlockedServlet</servlet-name>
        <url-pattern>/Unlocked</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HealthLogon.jsp</welcome-file>
    </welcome-file-list>
</web-app>
